################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
node_modules/
frontend-figma/node_modules/
dist/
frontend-figma/dist/
.env
frontend-figma/.env
